body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; 
    color: #fff; 
  }
  
  #artworkContainer {
    text-align: center;
  }
  
  #artworkTitle {
    font-size: 24px;
  }
  
  #artworkImage {
    width: 500px;
    height: 500px;
    margin: 20px 0; 
  }
  
  #artistDisplayName,
  #objectDate {
    font-size: 18px;
  }
  
